.feature-box {
  padding: 2.5rem;
  background-color: rgba($color-white, 0.8);
  text-align: center;
  font-size: 1.5rem;
  border-radius: 3px;
  transition: all 0.2s;

  @include respond(tab-port) {
    padding: 2rem;
  }

  &:hover {
    box-shadow: 0 1rem 2rem rgba($color-black, 0.8);
    transform: translateY(-1rem) scale(1);
  }

  &__icon {
    display: inline-block;
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    -webkit-background-clip: text;
    color: transparent;

    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }
}
